<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ep-lingering-cake-auei7dld-pooler.c-10.us-east-1.aws.neon.tech:5432/neondb
        </property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_bQTMegkcO58F</property>
        <property name="default_schema">public</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="org.example.hibernate.entities.User"/>
    </session-factory>
</hibernate-configuration>